@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

header {
  background-color: #212529; }
  header nav {
    padding: 20px 0px; }
    header nav .navbar-brand {
      color: white;
      font-family: 'Damion', cursive;
      font-size: 2em; }
    header nav .nav-link {
      color: white;
      text-decoration: none; }
  header .contact {
    border: #DFFF00 1px solid;
    color: #DFFF00;
    margin-right: 20px;
    padding: 5px 30px;
    border-radius: 5px; }
    header .contact:hover {
      background-color: #DFFF00;
      color: black; }

footer {
  background-color: #212529;
  padding: 20px 0px;
  text-align: center;
  color: white;
  font-family: 'Inter', sans-serif; }
  footer .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px; }
    footer .social li {
      padding: 0px 5px; }

.slider {
  height: 90vh;
  background: rgba(0, 0, 0, 0.3);
  background-image: url("../images/img-slider.webp");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  font-family: 'Inter', sans-serif; }
  .slider .text-slider {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: white; }
    .slider .text-slider h1 {
      font-size: 4em;
      margin-bottom: 10px; }
    .slider .text-slider h3 {
      font-size: 2em;
      font-weight: 400;
      margin-bottom: 50px; }
    .slider .text-slider h4 {
      max-width: 200px;
      text-transform: uppercase;
      font-size: 1.2em;
      letter-spacing: 5px;
      font-weight: 500;
      background-color: #DFFF00;
      padding: 5px 20px;
      border-radius: 5px;
      color: black;
      margin: 0 auto 10px auto; }
    .slider .text-slider a {
      background-color: white;
      color: black;
      padding: 10px 30px;
      border-radius: 5px;
      margin-top: 30px;
      font-weight: 700; }
      .slider .text-slider a:hover {
        background: #DFFF00; }

main {
  background-color: white; }

.reel {
  background: #DFFF00;
  padding: 80px;
  text-align: center;
  font-family: 'Inter', sans-serif; }
  .reel h2 {
    font-size: 2.5em;
    color: black;
    margin-bottom: 40px; }

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding: 80px 20px;
  text-align: center;
  font-family: 'Inter', sans-serif; }
  .portfolio p {
    font-size: 1em;
    margin-bottom: 40px; }
  .portfolio a {
    width: 100%;
    background-color: #DFFF00;
    color: black;
    text-align: center;
    padding: 10px 30px; }
  .portfolio img {
    width: 100px;
    margin-bottom: 20px;
    background: #DFFF00;
    padding: 30px;
    border-radius: 40px; }
  .portfolio .design {
    width: 200px; }
  .portfolio .illustration {
    width: 200px; }
  .portfolio .web {
    width: 200px; }

.content {
  padding: 20px 30px;
  margin: 20px 0px;
  height: auto;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: row; }
  .content .item-content {
    padding: 0px 10px; }
    .content .item-content h2 {
      font-size: 2em;
      color: black;
      display: block;
      text-align: center;
      margin-bottom: 50px; }
    .content .item-content p {
      margin: 20px 0px;
      text-align: justify; }
    .content .item-content img {
      max-width: 600px; }
  .content form {
    width: 500px;
    margin: 0 auto 40px auto;
    font-family: 'Inter', sans-serif; }
    .content form .campo {
      margin-bottom: 20px; }
    .content form label {
      display: block;
      margin-bottom: 10px; }
    .content form input, .content form textarea {
      width: 97%;
      padding: 7px; }
    .content form .enviar {
      background-color: black;
      color: white;
      padding: 10px;
      width: 100%; }
      .content form .enviar:hover {
        background-color: white;
        border: 1 px solid black;
        color: black; }

.info {
  padding-bottom: 40px; }

.title {
  background: #636363;
  background: linear-gradient(-180deg, #636363 0%, #1d1d1d 100%);
  padding: 80px;
  color: white;
  text-align: center;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  position: relative; }
  .title:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url("../images/img-headerpages.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover; }
  .title span {
    font-size: 3em;
    margin-bottom: 20px; }
  .title p a {
    text-decoration: none;
    color: #DFFF00; }

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

@media screen and (max-width: 600px) {
  header .d-flex {
    width: 100%; }
  header .contact {
    margin: 0 auto; }
  .portfolio {
    flex-direction: column;
    align-items: center; }
  .portfolio .item {
    margin: 20px 0px;
    width: 100%; }
  .portfolio .item img {
    width: 130px;
    padding: 30px;
    border-radius: 63px; }
  .portfolio .item p {
    width: 70%;
    margin: 0 auto 20px auto; }
  .portfolio .item a {
    margin-top: 20px;
    text-decoration: none; }
  .reel .video iframe {
    width: 100%;
    height: 300px; }
  .content {
    flex-direction: column; }
    .content .item-content img {
      width: 100%;
      height: auto; } }
