footer{
    background-color: #212529;
    padding: 20px 0px;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    .social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
        li{
            padding: 0px 5px;
        }
    }
}