@media screen and (max-width: 600px){
    header{
        .d-flex{
            width: 100%;
        }
        .contact{
            margin: 0 auto;
        }
    }
    .portfolio{
        flex-direction: column;
        align-items: center;
    }
    .portfolio .item{
        margin: 20px 0px;
        width: 100%;
    }
    .portfolio .item img{
        width: 130px;
        padding: 30px;
        border-radius: 63px;
    }
    .portfolio .item p{
        width:70%;
        margin: 0 auto 20px auto;
    }
    .portfolio .item a{
        margin-top: 20px;
        text-decoration: none;
    }
    .reel{
        .video{
            iframe{
                width:100%;
                height:300px;
            }
        }
    }
    .content{
        flex-direction: column;
        .item-content{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .galeria{
        grid-template-columns: 1fr;
    }
}